.container {
	display: flex;
	align-content: center;
	justify-content: center;
}

fieldset {
	border-radius: 10%;
	border: solid 1em tomato;
	background: honeydew;
}

legend {
	font-weight: 700;
	font-size: 2em;
	margin: auto;
	color: goldenrod;
}

label {
	font-family: Helvetica;
	font-size: 1.25em;
}

button, .window {
	border: solid 0.75em tomato;
	background: honeydew;
	border-radius: 10%;
	align-content: center;
}

button {
	font-size: 1.25em;
	width: 223px;
	height: 75px;
	
}